<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
<h1>Bank</h1>
<ul>
    <h1>404 - page does not exist</h1>
    <a href="/"><h2>Click to redirect</h2></a>
</ul>
</body>
</html>