<!DOCTYPE html>
<html lang="en">
<head>
<body>
    <h1>Bank</h1>
    <ul>
        {{#if account }}
            <h1>{{account}} Account</h1>
        {{/if}}
        {{#if balance }}
            <h2>Balance: ${{balance}}</h2>
        {{/if}}
    </ul>
</body>
</html>