<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Menu</title>
</head>
<body>
    <a href="/"><h1>Bank</h1></a>
    <ul>
        <li><a href="/accounts/checking">Checking</a></li>
        <li><a href="/accounts/saving">Savings</a></li>
    </ul>
</body>
</html>